services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: yatdl_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d yatdl_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "7777:5432"

volumes:
  postgres_data:
