openapi: 3.0.3
info:
  title: YATD - Yet Another To-Do List
  description: YATD - Yet Another To-Do List
  version: 1.0.0
servers:
  - url: 'http://localhost:8080'
paths:
  /api/users:
    post:
      summary: Create User
      description: Creates a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '200':
          description: User created successfully
        '400':
          description: Invalid request

  /api/login:
    post:
      summary: Login
      description: Authenticates the user and returns a JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Logged in successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Not Authroized

  /api/tasks:
    post:
      summary: Creates a new task
      description: Creates a new task for the
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          description: Not authorized
        '400':
          description: Invalid request
  /api/tasks/{task_id}:
    patch:
      summary: Updates a task
      description: Updates a task by id
      security:
        - BearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          description: Task ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchTaskRequest'
      responses:
        '204':
          description: Task updated successfully
        '401':
          description: Not authorized
        '400':
          description: Invalid request
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    CreateUserRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: new@mail.com
        password:
          type: string
          example: "strong-password-here"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: new@mail.com
        password:
          type: string
          example: "strong-password-here"

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 3600

    CreateTaskRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          example: Something to do
        description:
          type: string
          example: Some description

    TaskResponse:
      type: object
      properties:
        title:
          type: string
          example: Something to do
        description:
          type: string
          example: Some description
        completed:
          type: boolean
          example: false

    PatchTaskRequest:
      type: object
      properties:
        title:
          type: string
          example: Updated title
        description:
          type: string
          example: Updated description
        completed:
          type: boolean
          example: true
